<div class="center hero-unit">
  <h1>Welcome to the Quantified Self App</h1>

  <h2>
    This is the home page for the Quantified Self App
  </h2>
	<%= link_to "Sign In", signin_path, class: "btn btn-large btn-primary" %>
		<h3>or</h3>
 	<%#= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("fitbit-1024-blk-onwhite.jpg", alt: "Fitbit", :width => 40, :height => 40), 'http://www.fitbit.com/' %>