<p id="notice"><%= notice %></p>

<p>
  <strong>Gradecalc:</strong>
  <%= @grade_calc.gradecalc %>
</p>

<%= link_to 'Edit', edit_grade_calc_path(@grade_calc) %> |
<%= link_to 'Back', grade_calcs_path %>
