<%= form_for(@metricconfig) do |f| %>
  <% if @metricconfig.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@metricconfig.errors.count, "error") %> prohibited this metricconfig from being saved:</h2>

      <ul>
      <% @metricconfig.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
