<% provide(:title, 'All Metric Configs') %>
<h1>All Metric Configs</h1>

<%= will_paginate %>

<ul class="metricconfigs">
  <%= render @metricconfigs %>
  <%#= link_to 'Show', metricconfig %>
  <%#= link_to 'Edit', edit_metricconfig_path(metricconfig) %>
  <%#= link_to 'Destroy', metricconfig, method: :delete, data: { confirm: 'Are you sure?' } %>
</ul>

<%= will_paginate %>

<%= link_to 'New Metricconfig', new_metricconfig_path %>