<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
    <div class="span8">
    <%# if @user.metric_configs.any? %>
    <%if @user.metrics.any? %>
      <h3>Daily Metrics (<%= @user.metrics.count %>)</h3>
      <h3> Metrics For: <%#=@metrics.metricdate %> </h3>
      <ol class="metricConfigs">
        <%#= render @user.metric_configs %>
        <%= render @user.metrics %>
        <%# @datas.each do |data|%>
          <%#= data.@user.metric_config.value %>
          <%#= data.metricname %>
          <%#= data.value %> <BR>
        <% #end %>
      </ol>
      <%#= will_paginate @metricconfigs %>
      <%#= link_to "Update FitBit Metrics", fbupdate_path, class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>